name: Deploy to Railway Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    container: ghcr.io/railwayapp/cli:latest
    env:
      SVC_ID: cb383532-fee5-45e7-b765-077d6dfa1973
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN_PROD }}
    steps:
      - uses: actions/checkout@v3
      - name: Add .env variable
        run: echo "NEXT_PUBLIC_API_BASE_URL=https://api.alraseen.ae" > .env

      - run: railway up --service=${{ env.SVC_ID }} --ci
